.subformstyling{
    /* text-align: center; */
    text-align: center;
    border: 1px solid lightblue;
    width: 40%;
    height: 40vh;
    position: absolute;
    left: 40%;
    top: 50%;
    opacity: 22;
    z-index: 1000;
    box-shadow: 1px 1px lightblue;
    /* font-size: 1.6rem; */
}

.subformstyling form input{
    width: 52%;
    border-radius: 8px;
}

.btnSubmit{
    width: 54%;
    height: 5vh;
    background-color: gray;
    font-size: 2rem;
}

.btntype{
    width: 17%;
}

.btnTime{
    width:26%;
}