/* header div styling */

.headerDiv{
width: 100%;
display: flex;
border-bottom: 1px solid lightskyblue;
}

.headerLeft{
width: 90%;
display: flex;
}

.headerLeft .logoName{
    text-align: center;
    margin-top: 1%;
    font-size: 1.6rem;
}
.headerLeft div img{
width: 35%;
}


.headerRight{
display: flex;
align-items: center;
}

.headerRight div{
    font-size: 2.9rem;
    }

    .login{
        background-color: lightgray;
        height: 7vh;
    }


    /* main div styling */
 .mainDiv{
        display: flex;
     }
.maindivLeft{
width: 20%;
height: 100vh;
border-right: 1px solid lightblue;
}

.maindivRight{
    width: 80%;
    height: 50vh; 
}

.maindivRight .header{
    display: flex;
}

.detailBtn{
    margin-left: 2%;
}